.trailer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;

    video {
        width: 60%;
        max-height: 20%;
    }
}

.about-movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8%;
    background-color: $accent1;
    width: 67%;
    margin-left: 10%;
    border-radius: 24px;

    .image {
        max-height: 300px;
        max-width: 200px;
        padding: 8px;
        border-radius: 32px;
        overflow: hidden;
    }

    .details {
        padding: 12px;

        .rating {
            display: flex;
            align-items: center;

            .star {
                margin: 2px;
            }
        }
    }

    .description {
        width: 30%;
    }
}